.header {
    text-align: center;
}

.title {
    text-align: center;
}

.nav-bar {
    text-align: center;
}

nav {}

p {}

main {
    width: 70px;
    height: 300px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap
}

#egg {
    background-image: url("./Desktop/image-transform.jpg");
    background-color: #cccccc;
    width: 50%;
    height: 500px;
}

#flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.TransformYourBrand {
    width: 50%;
}

#cup {
    background-image: url("./Desktop/image-stand-out.jpg");
    background-color: #cccccc;
    width: 50%;
    height: 500px;
}

#cherry {
    background-image: url("./Desktop/image-graphic-design.jpg");
    background-color: #cccccc;
    width: 50%;
    height: 500px;
}

#orange {
    background-image: url("./Desktop/image-photography.jpg");
    background-color: #cccccc;
    width: 50%;
    height: 500px;
}