style {
    background-image: ;
}

nav {
    background-blend-mode: luminosity
}

p {
    background-color: linen;
    width: 300px;
    border: 15px solid beige;
    padding: 50px;
    margin: 20px;
    background-color: whitesmoke;
}

main {
    width: 70px;
    height: 300px;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap
}

div {}